.Card {
  margin: 1rem;
  padding: 1rem;
}

.Card-img-container {
  width: 100%;
}

.Card-title {
  font-size: 2.4rem;
  margin-top: 0.3rem;
}
.Card-info {
  display: flex;
  justify-content: space-between;
  margin: 0.75rem 0.5rem 0;
  font-size: 1.4rem;
}

.Card:hover .Card-title {
  font-weight: bold;
}
