.Home {
	margin: 1rem;
}

.Home-title {
	margin-bottom: 2rem;
}

.Home-para {
	margin: 2rem 1rem;
	line-height: 2.4rem;
}

.Home-logo {
	width: 60%;
	margin: auto;
}

.disclaimer {
	font-size: 1.4rem;
	line-height: 2rem;
}

@media screen and (min-width: 767.98px) {
	.Home {
		width: 60%;
		margin: auto;
	}

	.Home-logo {
		margin: 6rem auto;
	}
}

@media screen and (min-width: 1023.98px) {
	.Home {
		width: 40%;
		margin: auto;
	}

	.Home-logo {
		width: 50%;
	}
}
