.Item {
	margin: 1rem;
}

.Item-img {
	margin: 1.5rem 0;
}

.Item-info {
	display: flex;
	justify-content: space-between;
}

.Item-sale {
	font-size: 3rem;
}

.Item-retail {
	text-decoration: line-through;
	color: #555;
}

.Item-rating {
	text-align: end;
	font-size: 3rem;
}

.Item-review-info,
.Item-retail {
	font-size: 1.4rem;
	margin: 0.5rem 0;
}

.Item-input-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.Item-inputs {
	display: flex;
	align-items: center;
}

.Item-button:nth-of-type(1) {
	margin-left: auto;
}

.Item-input {
	height: 50%;
	margin: 0;
}

.Item-add-to-cart {
	margin: 1rem auto;
	font-size: 3rem;
}
